<table id="pockets_table" class="listing_table">
	<thead>
  		<tr>
	    	<th>Name</th>
	  		<th>Options</td>
	  			</tr>
    		</thead>
			<tbody>
<% pockets.each do |pocket| %>
				<tr>
  					<td class="row_header"><%= pocket.name %></td>
  					<td><%= render :partial => 'options', :locals => {:pocket => pocket} %></td>
  				</tr>
<% end %>
			</tbody>
		</table>