
<fieldset>
	<legend>Account Properties</legend>
	<ul>
		<li>  
			<label for="account[name]">Name:</label>  
			<%= f.text_field :name %>
		</li>
		<li>  
			<label for="account[description]">Description:</label>  
			<%= f.text_field :description %>
		</li>
	</ul>
</fieldset>
				
