
<tr>
	<td>
		<span id="account_name_<%= account.id %>" class="account_name"><%=h account.name %></span>
	</td>
   	<td>
   		<span id="account_balance_<%= account.id %>"><%=h real_currency account.balance %></span>
   	</td>
</tr>