

<% form_tag (form_action_path, {:id=> 'transactions_form', :class => 'ajaxForm'}) do %>

<div id="transaction_listing_table_div" class="table_div">
    <%= render :partial => 'transactions/transactions_listing_table', :locals => {:transactions => transactions, :account => account, :show_balance => show_balance, :showRestore => showRestore} %>
</div><!--table_div-->

<% end %>

<div id="filter_dialog" title="Filters" style="display:none;">
	<%= render :partial => 'accounts/pocket_filters', :locals => {:path =>  path} %>
</div>

<script type="text/javascript">
  	$(document).ready(function() {
		$("#filter_dialog").dialog({
	      	bgiframe: true, 
	      	autoOpen: false, 
	      	modal: true,
	      	width: '850px',
			buttons: {
				Cancel: function() {
					$(this).dialog('close');
					$('#filter_commit').val('cancel');
					$('#filter_form').submit();
					
				},
				'OK': function() {
					$(this).dialog('close');
					$('#filter_commit').val('update');
					$('#filter_form').submit();
				}
			}
	    });    
  	} );
</script>
