

<div id="account_listing" class="template_div">
  
  <div class="table_div">
  	<table id="account_listing_table" class="listing_table">
  		<thead>
    		<%= render :partial => 'listing_header' %>
    	</thead>
    	<tbody>
    		<%= render :partial => 'listing_details', :collection => @accounts, :as => :account %>
    	</tbody>
    </table>
  </div>
</div>



<script type="text/javascript">
  	$(document).ready(function() {
		$('#account_listing_table').dataTable({"iDisplayLength": 15});
  	} );
</script>