

<div id="journal" class="template_div">
	
	<%= render :partial => 'transactions/transactions_div', :locals => {:transactions => @transactions, :account => @account, :showBalance => false, :path => '', :showRestore => false, :showFilter => true, :showDeactivate => true} %>
</div><!-- account_journal -->

