

<div id="journal" class="template_div">
	<%= render :partial => 'transactions/transactions_div', :locals => {:transactions => @transactions, :account => @account, :show_balance => false} %>
</div><!-- account_journal -->

